body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  padding: 70px 20px 70px 20px;
}

/* LANDING */
.welcome-text {
  margin-top: 20px;
  font-size: 1.2em;
  text-align: center;
  padding: 0 20px 0 20px
}

.header {
  margin-top: 40px;
}

.logo {
  width: 85vw;
  margin-top: 20px
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1600px) {
  .logo {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto
  }

  .logo-container {
    width: 100%;
  }
}

.start-title {
  text-align: center;
  margin: 3vh 0 3vh 0
}

.arrow-icon {
  height: 100px;
  margin: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto
}


/* ALTERNATIVE LANDING PAGES */
.logo2 {
  width: 85vw;
  margin-left: 7vw;
  margin-right: 7vw;
}

.welcome-text2 {
  text-align: center;
  margin-top: 40px;
  font-size: 1.1em
}

.arrow-icon2 {
  height: 10vh;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.landing-pic {
  height: 100%;
  width: 100%;
}

.popular {
  text-align: left;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 3vh
}

.col {
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0
}

.row {
  margin-left: 5px;
  margin-right: 5px
}

.landing-slider {
  padding: 10px
}

.img-container {
  height: 100%
}

.home-links {
  display: flex;
  justify-content: space-around;
  font-size: 1.1em;
  margin-top: 30px
}

/* TOP NAVBAR */
.toolbar-main {
  display: flex;
  justify-content: space-between;
  height: 50px
}

.toolbar-main .Header-menuButton-3 {
  margin-right: 0px
}


.header-user-img {

  border-radius: 75px;
  height: 35px;
  width: 35px;
  position: relative
}

.header-user-img img {
  height: 100%;
  width: 100%;
  border-radius: 75px;
  position: absolute;
  left: 0
}


/* BOTTOM NAV */
.footer-link,
.footer-link:hover {
  color: black;
}

.footer-icon {
  width: 33vh;
  display: flex;
  justify-content: center
}


/* CITIES PAGE */

.cities,
.error-msg {
  text-align: center
}

.cities h1,
.dashboard h2 {
  margin-bottom: 20px
}

.cities button {
  font-size: 1.3em;
  margin-bottom: 10px;
}

.cities-filter {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center
}

.cities-filter input {
  text-align: center;
  font-size: 20px;
  font-family: inherit;
}

.cities-filter p {
  margin-bottom: 5px;
  font-size: 1.2em
}

.city-list {
  text-align: center
}

.city-list a {
  color: black;
  text-decoration: none
}

/* FORMS */
.form {
  display: flex;
  flex-direction: column;
  align-items: center
}

.add-form h1 {
  text-align: center
}

.add-form-btn {
  display: block;
  margin-top: 20px
}

.add-activity {
  display: flex;
  flex-direction: column;
}

.success {
  display: flex;
  flex-direction: column;
  align-items: center
}

.select {
  display: flex;
  flex-direction: column;
  align-items: center
}

.select p,
.form p {
  font-size: 18px;
  margin-bottom: 0
}

.edit-city {
  display: flex;
  flex-direction: column;
  align-items: center
}

.form-item {
  display: flex;
}

label.form-label {
  font-family: inherit;
  font-size: 1.2rem;
  padding-top: 20px;
  width: 100px;
  text-align: right;
  color: black;
  margin-right: 10px
}

li.select-option {
  font-size: 1.1rem
}

.upload-userpic {
  border: 1px solid black;
  border-radius: 75px;
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative
}

.upload-userpic input,
.upload-userpic label {
  max-width: 100px;
}

.upload-userpic img {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 75px;
  z-index: -1
}

.clear-img {
  position: absolute;
  right: 0;
  top: 0;
  color: black
}


.terms {
  display: flex;
  margin-top: 30px;
  align-items: center
}

.terms p {
  margin-bottom: 0
}

.terms-link {
  color: #007bff
}

.error {
  display: flex;
  justify-content: space-around
}

.title {
  text-align: center;

}

.login-text {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center
}


/* CITY PAGE */

.city-title {
  text-align: center;
  margin-bottom: 40px
}

.city-info a {
  text-align: center
}

.itinerary-card {
  margin-bottom: 20px;
  max-width: 99%
}

.card-summary {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.itinerary-title-details {
  flex-grow: 3
}

.profile-pic-container {
  flex-grow: 1;
  width: 80px;
  margin-right: 10px;
  word-wrap: break-word;
}

.profile-pic-container p {
  margin-bottom: 0;
  font-size: 0.9rem;
  text-align: center
}

.profile-pic {
  height: 50px;
  width: 50px;
  border-radius: 50px
}

.details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.details div {
  margin: 0 5px 0 5px
}

.activity-container {
  max-width: 100%
}

.back-link {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center
}

.card-actions {
  height: 50px;

  background-color: lightgray;
}

.card-actions button {
  margin-left: auto;
  margin-right: auto;
}

.card-actions p {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0
}

.itinerary-detail-preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around
}

.itinerary-detail-preview span {
  flex-grow: 1
}

.itinerary-detail-preview p {
  flex-grow: 3
}

/* COMMENTS */
div.comment-card {
  margin-bottom: 10px;
  background-color: lightgray
}

div.comment-card-sameuser {
  margin-bottom: 10px;
  background-color: lightgreen
}

.comment-user {
  margin-bottom: 0;
  font-weight: bold
}

.comment-header {
  display: flex;
}

.comment-user {
  flex-grow: 3
}

button.comment-delete {
  flex-grow: 1;
  padding: 0;
  display: flex;
  justify-content: flex-end
}

.slider {
  padding: 10px 10px 30px 10px;
}

.slider-image {
  height: 100px;
  width: 100px
}

.activity-img {
  height: 100px;
  width: 100px;
  position: relative;
}

.activity-caption {
  position: absolute;
  width: 100px;
  top: 35%;
  color: white;
  background-color: #8080807d;
  text-align: center
}

.activity-caption p {
  margin-bottom: 0;
}

/* LOADER */
.loader {
  display: flex;
  justify-content: center;
  margin-bottom: 30px
}

.lds-default {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-default div {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #394E56;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}

.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 29px;
  left: 53px;
}

.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 18px;
  left: 50px;
}

.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 9px;
  left: 41px;
}

.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 6px;
  left: 29px;
}

.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 9px;
  left: 18px;
}

.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 18px;
  left: 9px;
}

.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 29px;
  left: 6px;
}

.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 41px;
  left: 9px;
}

.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 50px;
  left: 18px;
}

.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 53px;
  left: 29px;
}

.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 50px;
  left: 41px;
}

.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 41px;
  left: 50px;
}

@keyframes lds-default {

  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
}

/* LOGIN */
.google-btn {
  display: flex;
  justify-content: center
}

.remember {
  margin-top: 0
}

.result {
  text-align: center;
  margin-top: 30px
}

/* DASHBOARD */
.title-fav {
  display: flex;
  justify-content: space-between;
  align-items: center
}

.title-fav h4 {
  width: 75%
}

.itinerary-title-details h4 {
  font-size: 1.2rem
}

.dashboard h2 {
  text-align: center
}

.country-select {
  width: 190px
}

.hashtag-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around
}

.hashtag {
  margin: 3px
}

.price-form {
  display: flex;
  width: 200px;
  margin-top: 20px;
  align-items: center
}

.price-label {
  flex-grow: 2
}

.price-select {
  flex-grow: 2
}

.itinerary-list {
  display: flex;
  flex-direction: column;
  align-items: center
}

h4 {
  text-align: center
}

.no-favs {
  text-align: center;
  margin-top: 30px
}

.dashboard-img {
  border-radius: 75px;
  height: 100px;
  width: 100px;
  display: flex;
}

.dashboard-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px
}

.dashboard-header h2 {
  font-size: 1.5 rem
}