.cms-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    display: block;
    margin-top: 20px;
  }
  .big-form {
    width: 100%;
  }
  p {
    margin-bottom: 10px;
  }
  .duration-price {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    label,
    div.select {
      margin-right: 10px;
      flex-grow: 1;
      margin-bottom: 0;
    }
  }
}

.success-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-activity {
  border: 1px solid black;
  height: 150px;
  width: 150px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  span {
    position: absolute;
    right: 0;
    top: 0;
    color: black;
  }
  img {
    height: 100%;
    width: 100%;
  }
}

.delete-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  button {
    margin-top: 50px;
    background-color: #ff5252;
    color: white;
  }
}

div.add-activity {
  width: 95%;
  margin: 10px 0 10px 0;
  background-color: lightgray;
  div {
    padding-bottom: 0;
  }
}
