@import "components/all";
@import "views/all";

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  padding: 70px 20px 70px 20px;
}

h1,
h3 {
  text-align: center;
}
